<li class="list-icon" id="<%= chat_room.id %>"> Table - <%=  chat_room.id %>

  <button type="button" class="btn-key btn btn-default" aria-label="Left Align">
    Generate Password
  </button>

  <button type="button" class="btn btn-default" aria-label="Left Align">
    <%= link_to "Chat - #{chat_room.title}", chat_room_path(chat_room) %>
  </button>

  <span class="pin"><%= chat_room.pin %></span>
</li>
