<h1>Add chat room</h1>

<% if current_user.user_type == "admin" %>
  <%= form_for @chat_room do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, autofocus: true, class: 'form-control' %>
    </div>

    <%= f.submit "Add!", class: 'btn btn-primary' %>
  <% end %>
<% elsif %>
  <h2>You have no privileges to create a new chat room</h2>
<% end %>
