<div id="house-menu" class="house-menu" >
  <i id="close-house-menu" class="fa fa-remove fa-fw fa-3x"></i>

  <h1 class="text-center">MENU</h1>

  <div id="food" class="food">
    <h2 class="text-center">Meals</h2>
    <div id="breakfast" class="breakfast">
      <h3 class="text-center">Breakfast</h3>
      <% get_breakfast.each do |item| %>
        <%= raise issue %>
      <% end %>
    </div>
    <div id="lunch" class="lunch">
      <h3 class="text-center">Lunch</h3>
    </div>
    <div id="desert" class="desert">
      <h3 class="text-center">Desert</h3>
    </div>
  </div> <!-- Meals -->

  <div id="drinks" class="drinks">
    <h2 class="text-center">Drinks</h2>
    <div id="beer" class="beer">
      <h3 class="text-center">Beer</h3>
    </div>

    <div id="wine" class="wine">
      <h3 class="text-center">Wine</h3>
    </div>

    <div id="coffee" class="coffee">
      <h3 class="text-center">Hot Drinks</h3>
    </div>

  </div> <!-- drinks  -->

</div> <!-- house-menu  -->
