<%= form_tag('/check_pin') do %>
  <label id="pin-label">Enter PIN here!</label>
  <input id="pin-code" type="text" name="pin" value="">
  <%= submit_tag("Enter", :id => "check-pin-btn") %>
<% end %>
