<section id="tables-page" class="tables">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center table-list">
                <h1>Tables</h1>
                <ul class="">
                  <%= render @tables.order('id ASC') %>
                </ul>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
