#tables-page{
  height: 100vh;
  background-image: image_url('tables-bkg.jpg');
  background-size: cover;

}

.tables {
  background-color: rgba(0, 0, 0, 0.8);
}

.table-list {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3em;
  margin-top: 5em;
  color: #FFF;

  li {
    padding: 0.3em;
    text-decoration: none;
    list-style: none;
    margin: 6px;
    background-color: rgba(255,255,255,0.1)
  }
}

.table-title {
  font-size: 2em;
}

.pin {
  font-size: 1.5em;

}
